<div class="clearfix">
  <div class="float-left">
    <h3 class="title">Polls</h2>
  </div>

  <div class="float-right">
    <%= link("New poll", to: cms_poll_path(@conn, :create), class: "button button-small", method: :post, data: [prompt: "Really?", variable: "poll[name]"]) %>
  </div>
</div>

<table>
  <tbody>
<%= for poll <- @polls do %>
    <tr>
      <td><%= link poll.name, to: cms_poll_path(@conn, :show, poll) %></td>
    </tr>
<% end %>
  </tbody>
</table>
